<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>File Scanner</h1>
        <h4>Upload the file(s) to scan and extract entities:</h4>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="files" multiple>
            </div>
            <div class="form-group">
                <label for="ocr_model">Choose OCR Model:</label>
                <select name="ocr_model" id="ocr_model">
                    <option value="pytesseract">PyTesseract</option>
                    <option value="azure">Azure</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary">
            </div>
        </form>
        <div id="preview" class="preview">
            <h2>Preview</h2>
            <div id="preview-images"></div>
        </div>
    </div>
    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function(event) {
            const previewContainer = document.getElementById('preview-images');
            previewContainer.innerHTML = ''; // Clear previous previews
            const files = event.target.files;

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();
                
                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.width = '150px';
                    img.style.margin = '10px';
                    previewContainer.appendChild(img);
                }
                
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>
</html>
